/*75 186 250 4BBAFA blue 204 204 204 CCCCCC*/
/*
font-family: 'Karla', sans-serif;
font-family: 'Roboto', sans-serif;
*/
/*Applies to the whole body*/
body {
    background-color: #FFFFFF;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*Whole navbar options*/
.navbar {
	font-family: raleway,lato,Arial,Helvetica,sans-serif;
    font-weight: 550;
    background-color: #CCCCCC;
}
/*Whole navbar*/
.navbar .container-fluid {
	margin-left: 5%;
	margin-right: 5%;
}
/*Brand on the left of navbar*/
.navbar .container-fluid .navbar-header a {
	background-color: #CCCCCC;
	font-size: 112.5%;
}
/*Mobile view navbar*/
.navbar .container-fluid .navbar-header .navbar-toggle {
	background-color : #002a32;
}
/*Tabs at the navbar*/
.navbar .collapse .nav {
	background-color: #CCCCCC;
}
.navbar .collapse .nav a:hover {
    background-color: lightgray;
}
/*Tabs at the navbar*/
.navbar .collapse .nav a {
	font-size: 112.5%;
}
/*Active tab gets different color*/
.navbar .collapse .nav > li.active > a {
  	color: #4BBAFA;
 }

 /*index*/
 .about_me h1 {
 	font-family: 'Karla', sans-serif;
 	text-align: center;
 	margin-left: 15%;
 	margin-right: 15%;
 	margin-top: 10%;
 	font-weight: 200;
 	color: #000000;
 }
 .about_me h2 {
 	font-family: 'Roboto', sans-serif;
 	text-align: center;
 	font-weight: 100;
 	color: #000000;
 }
 .about_me p {
 	text-align: left;
 	margin-left: 15%;
 	margin-right: 15%;
 	font-family: 'Karla', sans-serif;
 	font-size: 112.5%;
 	line-height: 2;
 }

 /*processing_projects*/
 .GDG h1 {
 	font-family: 'Roboto', sans-serif;
 }
 .GDG p {
 	line-height: 1.75;
 	font-family: 'Karla', sans-serif;
 	font-size: 112.5%;
 }
 .Fractal h1 {
 	color:#D0D0D0;
 	font-family: 'Roboto', sans-serif;
 }
 .Fractal p {
 	color:#D0D0D0;
 	line-height: 1.75;
 	font-family: 'Karla', sans-serif;
 	font-size: 112.5%;
 }
 .ppTitle, .GDGImage, .fractalImage {
  position: relative;
  opacity: 0.9;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ppTitle {
  background-image: url("processing.png");
  min-height: 100%;
}
.GDGImage {
  background-image: url("GDG_picture.png");
  min-height: 100%;
  background-position: left;
}
.fractalImage {
  background-image: url("randomFractal_picture.png");
  min-height: 100%;
  background-position: left;
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000000;
}
.caption1 {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000000;
}
.caption span.border {
  background-color: #303030;
  color: #FFFFFF;
  padding: 18px;
  font-size: 300%;
  letter-spacing: 10px;
}
.caption1 span.border {
  background-color: #303030;
  color: #FFFFFF;
  padding: 18px;
  font-size: 300%;
  letter-spacing: 10px;
}







